
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/styles.css */
@font-face {
    font-family: 'DigitalNumbers';
    src: url('./assets/fonts/DigitalNumbers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  